<?xml version="1.0" encoding="UTF-8"?>
<Configuration 
	strict="true"
	status="warn"
	schema="Log4J-V2.0.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://logging.apache.org/log4j/2.0/config"
	xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config Log4j-config.xsd">
  	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_ERR">
			<PatternLayout pattern="%d{ISO8601} : handler : [%-5p] - %c : %x : %m%n" />
		</Console>

		<Console name="JOB" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601} : handler : [%-5p] - %c : %x : %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="studio_serverless" level="info" additivity="false">
			<AppenderRef ref="JOB"/>
		</Logger>
		<Root level="warn">
			<AppenderRef ref="CONSOLE"/>
		</Root>
   </Loggers>
</Configuration>
